#!/bin/bash
# Brewfile hash: {{ include "dot_config/brew/Brewfile" | sha256sum }}
{{ if eq .chezmoi.os "darwin" -}}
if command -v brew &> /dev/null; then
    echo "Syncing Homebrew packages..."
    brew bundle --file=~/.config/brew/Brewfile
fi
{{ end -}}
